/* Variables de CSS para usar dentro del proyecto */
:root{
    --color_especial_de_letra: aqua;
    --color_de_fondo:black;
    --color_normal_letra:white;
    --color_fondo_suave:#ead2a3;
    --color_titulos:orange;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    position: relative;
  }

  /* Estilos del header */
  .header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color_de_fondo);
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 7;
  }
  
  #container_header{
    border-bottom: solid .2em var(--color_especial_de_letra);
  }

  h1{
    margin: 1px 0 0 0;
    color: var(--color_titulos);
    font-size: 45px;
    cursor: pointer;
  }
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit;
    font-size: 1.2em;
  }

  .header ol li{
    height: inherit;
  }

  .header a{
    text-decoration: none;
    display: flex;
    height: inherit;
    align-items: center;
    padding: 20px 10px;
  }

  .container{
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
    flex: 1;
  }

  .link{
    color: var(--color_normal_letra);
  }

  .link:hover{
    text-decoration: underline;
    color: var(--color_especial_de_letra);
  }

  .link_me{
    color: var(--color_especial_de_letra);
  }

  .link_me:hover{
    text-decoration: underline;
    color: var(--color_de_letra_titulos);
  }

/* Inicio de estilos del main */
/* Estilos del hero */
  .hero{
    height: auto;
    background-color: var(--color_de_fondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .hero_text{
    width: 50%;
    height: auto;
    background-color: var(--color_de_fondo);  
  }

  .hero_text p{
    color: var(--color_normal_letra);
    font-size: 22px;
  }

  h2{
    color: var(--color_titulos);
    font-size: 40px;
    text-align: center;
  }
  
  h4{
    color: var(--color_titulos);
    font-size: 26px;
    text-align: center;
    margin: 0;
  }
  
  .hero_image_figure{
    width: 45%;
    margin: 0;
  }

  .image-profile{
    object-fit: cover;
    width: 100%;
  }

  hr{
    width: auto;
    margin: 0;
    height: 1px;
    background: var(--color_especial_de_letra);
    border: solid 1px var(--color_especial_de_letra);
  }

  /* Inicio de estilos de la seccion de habilidades */

  .span_skills{
    font-size: 22px;
  }

  .box-skills{
    width: 100%;
    min-width: 59rem;
    background-color: var(--color_de_fondo);
    color: var(--color_normal_letra);
    padding-bottom: 30px;
}

.box-skills-container{
    width: 100%;
    padding: 2rem 1rem 5rem;
}

.skill-block:not(:last-child){
    margin-bottom: 2.4rem;
}

.detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu{
    position: relative;
    border: 1px solid var(--color_especial_de_letra);
    border-radius: 20px;
}

.menu div{
    position: relative;
    width: 0;
    height: 1rem;
    border-radius: 10px;
    background-color: var(--color_especial_de_letra);
}

/* Animacion de las habilidades */

#html-menu{
    animation: html-barra 2s forwards;
}

@keyframes html-barra {
    100%{
        width: 90%;
    }
}

#css-menu{
    animation: css-barra 2s forwards;
}

@keyframes css-barra {
    100%{
        width: 75%;
    }
}

#javascript-menu{
    animation: javascript-barra 2s forwards;
}

@keyframes javascript-barra {
    100%{
        width: 40%;
    }
}

#react-menu{
    animation: react-barra 2s forwards;
}

@keyframes react-barra {
    100%{
        width: 30%;
    }
}

/* Tercer bloque, experiencia y hobbies */

.experience{
    background-color: var(--color_de_fondo);
    color: var(--color_normal_letra);
    padding-bottom: 30px;
}

.experience_pack{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.elEspectador{
    width: 490px;
}

.espectador_tittle{
    font-size: 2em;
    margin: 0px 30px 15px 0;
}

.espectador_image{
    margin: 0;
}

.espectador_image_img{
    border: solid 3px var(--color_especial_de_letra);
    object-fit: cover;
    width: 490px;
    height: 250px;
    border-radius: 10px;
}

.espectador_div_text{
    margin: 23px;
    margin-top: -54px;
    position: relative;
    background-color: var(--color_fondo_suave);
    color: var(--color_de_fondo);
    padding: 15px;
    padding-top: 1px;
    font-size: 19px;
    width: 420px;
    height: auto;
    border-radius: 10px;
}

.espectador_text{
    font-size: 1em;
    margin: .1em;
    word-spacing: -.1em;
  }

  /* La parte de hobbies, se reutilizó el codigo de experiencia */

  .flexible_video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
  }
  
  .youtube_video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .video_div_text{
    margin-top: 17px;
  }
  
  .other_image_img{
    border: solid 3px var(--color_especial_de_letra);
    object-fit: cover;
    width: 490px;
    height: 300px;
    border-radius: 10px;
  }

  .video_div_text{
    margin-top: 20px;
  }

/* Estilos de la seccion de contacto */

/* Queda mucho pendiente para cuando sepa JS Xd */

.contact_tittle{
    width: auto;
    margin: inherit;
    padding: 30px 0 20px 0;
  }
  
  .contact{
    background-color: var(--color_de_fondo);
    color: var(--color_normal_letra);
    flex-wrap: wrap;
    padding: 0 2em 2em 2em;
  }

  .contact_block{
    display: flex;
    justify-content: space-between;
  }

  .contact_div_tittles{
    display: flex;
    justify-content: space-between;
  }
  
  .contact_div_followme{
    text-align: end;
  }
  
  .input_name{
    height: auto;
    width: 35em;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: var(--color_de_fondo);
    background-color: var(--color_fondo_suave);
    margin-bottom: 10px;
    border: solid 1px var(--color_especial_de_letra);
    font-family: 'Oswald', sans-serif;
  }
  
  .input_email{
    height: auto;
    width: 35em;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: var(--color_de_fondo);
    background-color: var(--color_fondo_suave);
    margin-bottom: 10px;
    border: solid 1px var(--color_de_fondo);
    font-family: 'Oswald', sans-serif;
  }
  
  .textarea_message{
    height: auto;
    width: 35em;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: var(--color_de_fondo);
    background-color: var(--color_fondo_suave);
    margin-bottom: 10px;
    border: solid 1px var(--color_especial_de_letra);
    font-family: 'Oswald', sans-serif;
  }
  
  .submit{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    padding: 1px 0 30px 5px;
    font-size: 18px;
    color: var(--color_de_fondo);
    background-color: var(--color_especial_de_letra);
    margin-bottom: 10px;
    display: block;
    text-align: left;
    border: solid 1px var(--color_fondo_suave);
    font-family: 'Oswald', sans-serif;
  }

  form > input:hover{
    opacity: 0.9;
  }
  .submit:hover{
    opacity: 0.9;
  }

  /* Estilos de redes sociales */
  
  .social{
    display: flex;
    align-items: center;
    height: 200px;
  }

  .social div{
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

svg{
    fill: var(--color_especial_de_letra);
}
svg:hover{
    fill: var(--color_normal_letra);
}

.footer{
    background-color: var(--color_de_fondo);
    color: var(--color_normal_letra);
    flex-wrap: wrap;
    padding: 0 2em 2em 2em;
  }
  
  .footer_line{
    display: flex;
  }
  
  .footer_link{
    display: flex;
  }

  .footer_div_block{
    display: flex;
    justify-content: space-between;
  }
  
  .footer_hipervinculo{
    text-decoration: none;
    color: var(--color_especial_de_letra);
  }

  .corazon{
    color: red;
  }

  